

.site-header{
    background-color: #1b8ebc;
    color: #d3eaf3;
    
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #032938 2px 5px 5px;
}

.course-link{
    color: #d3eaf3;
}
body{
    margin: 0;
    }